# Dependencies
/node_modules

# Build output
/.next
out/

# Logs
*.log

# Runtime files
pids
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# .env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.qodo
